services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: minha-api
    ports:
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - ./data:/app/data
    networks:
      - minha-rede-lab
    depends_on:
      - simulador-iac
    environment:
      - HOST_EXEC_PATH=${PWD}/data/temp-exec

  simulador-iac:
    image: localstack/localstack:latest
    hostname: simulador-iac
    ports:
      - "4566:4566"
    environment:
      - SERVICES=ec2,s3,lambda,sqs,route53,s3control,sts
      - DEBUG=1
    volumes:
      - localstack_data:/var/lib/localstack
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      minha-rede-lab:
        aliases:
          - simulador-iac
          - 000000000000.simulador-iac

  k3s:
    image: rancher/k3s:latest
    command: server --disable=traefik --tls-san=k3s
    tmpfs:
      - /run
      - /var/run
    privileged: true
    environment:
      - K3S_KUBECONFIG_OUTPUT=/output/kubeconfig.yaml
      - K3S_KUBECONFIG_MODE=666
    volumes:
      - k3s_data:/var/lib/rancher/k3s
      - ./data/k3s:/output
    ports:
      - "6443:6443"
    networks:
      - minha-rede-lab
networks:
  minha-rede-lab:
    name: minha-rede-lab

volumes:
  localstack_data: {}
  exec-data: {}
  k3s_data: {} 