name: Auto PR

on:
  push:
    branches-ignore:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Gerar data no formato YYYYmmDD
        id: get_date
        run: |
          date=$(date +"%Y%m%d")
          echo "date=$date" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Check if PR already exists
          EXISTING_PR=$(gh pr list --head ${{ github.ref_name }} --json url --jq '.[0].url')
          
          if [ -n "$EXISTING_PR" ]; then
            echo "PR already exists: $EXISTING_PR"
            exit 0
          fi

          # Create PR
          gh pr create \
            --base main \
            --head ${{ github.ref_name }} \
            --title "Auto PR: ${{ steps.get_date.outputs.date }}" \
            --body-file docs/PR_Summary.md
