name: Docker Build

on:
    pull_request:
        types: [closed]
        branches:
            - main
jobs:
    build-and-push:
        if: github.event.pull_request.merged == true
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Gerar data no formato YYYYmmDD
              id: get_date
              run: |
                date=$(date +"%Y%m%d")
                echo "date=$date" >> $GITHUB_OUTPUT 

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_HUB_USERNAME }}
                password: ${{ secrets.DOCKER_HUB_PASSWORD }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                context: .
                push: true
                tags: |
                  ${{ secrets.DOCKER_HUB_USERNAME }}/lab-devops-api:latest
                  ${{ secrets.DOCKER_HUB_USERNAME }}/lab-devops-api:${{ steps.get_date.outputs.date }}:latest
            
            - name: Notificar sucesso
              run: echo "Docker build e push realizado com sucesso"